* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #f1f1f1;
    font-family: 'Fira sans', Arial, Helvetica, sans-serif;
}


.plang {
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
    background-color: #11aef4 ;
}

.plang h1 {
    margin-bottom: 15px;
}

.frame {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    background-color: #5aa1fe;
}

.container {
    margin: auto;
    display: block;
}

input {
    width: 100%;
    margin: auto;
    font-size: 16px;
    padding: 10px;
    color: #222;
    border-radius: 5px;
}

.bungkus-btn {
    text-align: center;
}

.btn {
    border: none;
    margin-top: 5px;
    background-color: #1a7eba;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;

}
.btn:hover {
    background: #3381df;
}

#uL {

    margin-top: 10px;

}

li {
    list-style-type: none;
    padding: 5px;
}

li:nth-child(even){
    background-color: #777;
}
li:nth-child(odd){
    background-color: #555;
}

li:first-child {
    border-radius: 3px 3px 0 0;
}

li:last-child {
    border-radius: 0 0 3px 3px;
}

.footer {
    margin: auto 0;
    width: 100%;
    background-color: #11aef4;
    padding: 15px;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-radius: 5px;
}